.image-link-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  padding: 1rem;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: auto;
  margin: 1rem auto;
  padding: 0;
}
.image-link-message {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  background-color: rgb(34, 102, 153, 0.75);
  background-image: linear-gradient(
      rgb(255, 255, 255, 0.5) 2px,
      transparent 2px
    ),
    linear-gradient(90deg, rgb(255, 255, 255, 0.5) 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, 0.25) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.25) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, 20px -2px, -1px -1px, -1px -1px;
}
.inputBox {
  width: 70%;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 2px solid #ccc;
  border-radius: 5px;
}
.button {
  width: 30%;
  padding: 0.5rem;
  font-size: 1.2rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover {
  background-color: #45a049;
}
@media (max-width: 600px) {
  .form {
    flex-direction: column;
  }
  .inputBox {
    width: 100%;
    font-size: 1rem;
  }
  .button {
    width: 100%;
    min-width: 0;
    font-size: 1rem;
    margin: 0;
    padding: 0.25rem;
  }
}
