.face-recognition {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.regions {
  position: absolute;
  box-shadow: 0 0 0 3px rgb(20, 157, 242, 0.6) inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: crosshair;
}
